<p>home works!</p>

<!-- @for(student of arr; track student.id){
    <app-child [student_]="student">
        <p>Specialization: {{student.branch}}</p>
        <h4>Student Id: {{student.id}}</h4>
    </app-child>
} -->

<!-- Another way -->
@for(student of arr; track student.id){
    <app-child [student_]="student">
        <div class="addPadding" #student>
            <p>Specialization: {{student.branch}}</p>
        </div>
        <div class="class2" #student>
            <h1>Id: {{student.id}}</h1>
        </div>
        <p #student>This all about this student</p>
    </app-child>
}