.even{
    background-color: cadetblue;
}
.odd{
    background-color: thistle;
}
.borderClass{
    border: 2px solid #808080;
}
.paddingClass{
    padding: 20px;
}
.backColor{
    background-color: chocolate;
}